TECHNOLOGIES="SQL,Django,Flask,FastAPI,Pyramid,Tornado,Sanic,SQLAlchemy,Pandas,NumPy,Matplotlib,SciPy,TensorFlow,PyTorch,Keras,Scikit-learn,Gunicorn,uWSGI,Celery,Redis,PostreSQL,MySQL,MongoDB,RabbitMQ,SQLAlchemy,Alembic,Docker,Kubernetes,Ansible,TeamCity,Jenkins,CircleCI,GitHub,Git,CI/CD,OOP,SOLID,GitLab,Pytest,UnitTest,Selenium,Requests,BeautifulSoup,REST,Django REST,GraphQL,AsyncIO,Trio,Curio"
